<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li><a routerLink="formEvent">Form Event</a></li>
            <li><a routerLink="interval">Interval and Timer</a></li>
            <li><a routerLink="of-from">Of and From</a></li>
            <li><a routerLink="to-array">To Array</a></li>
            <li><a routerLink="custom-observable">Custom Observable</a></li>
            <li><a routerLink="map">Map </a></li>
            <li><a routerLink="pluck">Pluck </a></li>
            <li><a routerLink="filter">Filter </a></li>
            <li><a routerLink="tap">Tap</a></li>
            <li><a routerLink="take">Take</a></li>
            <li><a routerLink="retry">Retry</a></li>
            <li><a routerLink="debounce-time">Debounce Time & Distinct Until Change</a></li>
            <li><a routerLink="subject">Subject & Behavior Subject</a></li>
            <li><a routerLink="replay-subject">Replay Subject</a></li>
            <li><a routerLink="async-subject">Async Subject</a></li>
        </ul>
    </div>
</div>

