<div [ngStyle]="{'color': myColor}">
    <h2>Tap or Do Operator</h2>
    <p>Used to perform side-effects for notifications from the source observable</p>

    <ul>
        <li>Console log (Data)</li>
        <li>Console log (Response)</li>
        <li>Change Property Value</li>
        <li>Emit value in observable</li>
        <li>Perform any other action</li>
    </ul>
    <hr>
    
    <div class="row">
        <div class="col-md-4">
            <strong>Example-1</strong>
            <hr>
            <ul id="elContainer">
            </ul>
        </div>
    

        <div class="col-md-4">
            <strong>Example-2</strong>
            <hr>
            <ul id="elContainer2">
            </ul>
        </div>
    </div>
</div>

