<div>
    <h2>Marge</h2>
     <p>Turn multiple observables into a single observable.</p>
    
     <hr><br>
     <div class="row">
         <div class="col-md-4">
             <strong>Source-1 |Tech Channel (5)</strong>
             <hr>
             <p class="bg-light py-2 px-3 border rounded">
                 <strong>Tech Video List</strong> 1,2,3,4,5
             </p>
         </div>
         <div class="col-md-4">
             <strong>Source-2 | Comedy Channel (3)</strong>
             <hr>
             <p class="bg-light py-2 px-3 border rounded">
                 <strong>Comedy Video List</strong> 1,2,3
             </p>
         </div>
         <div class="col-md-4">
             <strong>Source-3 | News Channel (4)</strong>
             <hr>
             <p class="bg-light py-2 px-3 border rounded">
                 <strong>Newsf Video List</strong> 1,2,3,4
             </p>
             
 
         </div>
     </div>
     <div class="row justify-content-center">
         <div class="col-md-6">
             <div class="card">
                 <div class="card-header">Your Channel (Subscriber)</div>
                     <div class="card-body">
                         <ul id="elContainer">
                             
                         </ul>
                     </div>
             </div>
         </div>
     </div>
 </div>
 

