<div class="my-3">
    <h2>Take</h2>
    <p>Emits only the first count values emitted by the source Observable.</p>
    <br>
    <h2>TakeLast</h2>
    <p>Waits for the source to complete, then emits the last N values from the source, as specified by the count argument.</p>
    <br>
    <h2>TakeUntil</h2>
    <p>Emits the values emitted by the source Observable until a notifier Observable emits a value.</p>
    <br>
    <h2>TakeWhile</h2>
    <p>Emits values emitted by the source Observable so long as each value satisfies the given predicate, and then completes as soon as this predicate is not satisfied.</p>
    <hr>
    <p class="bg-light d-inline-block py-2 px-3 border rounded">Random 'Rehan','Matti','Imran','Awais','Hassan','Sohaib','khalid','touqeer'</p>
    <div class="row">
        <div class="col-md-4">
           <p> <strong>Example-1</strong>Take (5)</p>
            <hr>
            <ul id="elContainer">
            </ul>
        </div>
    

        <div class="col-md-4">
            <p> <strong>Example-2</strong>Take Last (3)</p>
            <hr>
            <ul id="elContainer2">
            </ul>
        </div>

        <div class="col-md-4">
            <p> <strong>Example-3</strong>Take Until (Condition)</p>
            <hr>
            <ul id="elContainer3">
            </ul>
        </div>
    </div>
</div>

