<div>
    <h2>Map Operator</h2>
    <p>Applies a given project function to
         each value emitted by the source Observable, and emits the resulting values as an Observable.</p>
    <hr class="">
    
    <div>
        <div class="col-md-4">
            <strong>Example-1</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map</strong> 'Video' + Data
            </p>
            <br>
            <p>Message : <strong class="text-success">{{message1}}</strong></p>
        </div>
        <div class="col-md-4">
            <strong>Example-2</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map</strong> Data=> data * 3
            </p>
            <br>
            <p>Message : <strong class="text-success">{{message2}}</strong></p>
        </div>
        <div class="col-md-4">
            <strong>Example-3</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map</strong> Map object Data
            </p>
            <br>
            <ul id="elContainer"></ul>

        </div>
    </div>
</div>

