<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="my-3">
                <h2>Async & Await</h2>
                <p>
                    async makes a function return a Promise. await makes a function wait for a Promise.
                </p>
                <ul>
                    <li>async keyword with function always returns promise</li>
                </ul>
                <hr>
                <h2>Difference between Async & Await</h2>
                <p>The differences between asynchronous and synchronous include: Async is multi-thread, 
                    which means operations or programs can run in parallel. Sync is a single-thread, so only 
                    one operation or program will run at a time. Async is non-blocking, which means it 
                    will send multiple requests to a server.</p>
            </div>

        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <h4>Example-1: With Promises</h4><hr>
                    <button class="btn btn-primary">Buy Laptop</button><hr>
                    <div id="result1">Data:</div>
                </div>
    
                <div class="col-md-4">
                    <h4>Example-2: With Async / Await</h4><hr>
                    <button class="btn btn-primary">Buy Laptop</button><hr>
                    <div id="result2">Data:</div>
                </div>
    
                <div class="col-md-4">
                    <h4>Example-3: With Fetch API</h4><hr>
                    <button class="btn btn-primary">Buy Laptop</button><hr>
                    <div id="result3">Data:</div>
                </div>
            </div>
        </div>
    </div>
</div>
