<div class="my-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Create Stream with FromEvent()</h2>
            <p>We can create observable steams from the following</p>
            <ul>
                <li>User Input like (Button Click Event)</li>
                <li>HTTP Request</li>
                <li>Array</li>
                <li>object</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Observable Handle when we Subscribe</h4>
            <ul>
                <li>Data</li>
                <li>Error</li>
                <li>Completion</li>
            </ul>

        </div>
    </div>
    <br>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <button #addBtn class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <ul id="elContainer">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <ul id="elContainer2">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>